<li><a class="config-list-item-noenvironment" >No config</a></li>
<li class="divider"></li>
<li><a href="#modal-config" data-toggle="modal"
       data-backdrop="static" data-keyboard="true">Manage config</a></li>